*{
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: 'Crimson Pro', serif;

}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('home.jpeg');
 height: auto;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

.total{
  padding-top: 40px;
  padding-bottom: 20px;
}

.title{
  color: white;
  padding-top: 70px;
  text-align: center;
  font-weight: bold;

}

.select{
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  font-weight: bold;
}

.telelink{
  text-align: center;
  padding-top: 170px;
}

.ailink{
  text-align: center;
  padding-top: 290px;
}

.freelink{
  text-align: center;
  padding-top: 300px;
}


ul li a{
  text-decoration: none;
  border: 1px solid white;
	padding: 45px 20px;
	background-color: transparent;
	color: white;
	transition: 0.5s ease;
  font-weight: bold;
}

.tele{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('tele.jpeg');
  height: auto;
  background-size: cover;
  background-position: center;
  font-size: 25px;
  padding: 120px 145px;

}

.ai{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('ai.jpeg');
  height: auto;
  background-size: cover;
  background-position: center;
  font-size: 25px;
  padding: 120px 135px;
}

.free{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('free.jpeg');
  height: auto;
  background-size: cover;
  font-size: 25px;
  background-position: center;
  padding: 120px 200px;
}

.tele:hover{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('telehover.jpeg');
}

.ai:hover{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('aihover.jpeg');
}

.free:hover{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('freehover.jpeg');
}

.link{
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  font-size: 17px;
  border: 1px solid white;
  float: right;
}

.link:hover{
  background-color: black;
  text-decoration: none;
  color: grey;
  padding: 14px 20px;
  margin: 8px 8px;
  font-size: 17px;
  border: 1px solid grey;
}

.login{
  padding-top: 20px;
  padding-right: 10px;
}
